NODE_ENV=test
PORT=3001
DATABASE_URL=postgresql://username:password@ep-xxxxx.aws.neon.tech/neondb
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/gym_db_test
JWT_SECRET=test_secret_do_not_use
APP_URL=http://localhost:3001
BREVO_API_KEY=test_key
EMAIL_FROM=noreply@test.com
LOG_LEVEL=silent
STARPAY_API_SECRET=test_secret
STARPAY_CALLBACK_SECRET=test_secret
STARPAY_API_URL=https://sandbox-api.starpayethiopia.com/v1/starpay-api
STARPAY_REDIRECT_URL=http://localhost:3001/payment/success
STARPAY_WEBHOOK_URL=http://localhost:3001/api/v1/payments/webhook