# ---------- GENERAL ----------
NODE_ENV=development
PORT=3000
CLIENT_URL=USE_YOUR_CLIENT_URL
LOG_LEVEL=info


# ---------- NEON DB (Serverless PostgreSQL) ----------
# Get this from your Neon dashboard -> Connection Details
# Format: postgresql://username:password@ep-xxxxx.aws.neon.tech/dbname?sslmode=require
DATABASE_URL=postgresql://YOUR_NEON_USER:YOUR_NEON_PASSWORD@ep-xxxxx.aws.neon.tech/neondb?sslmode=require

# MongoDB Configuration
MONGODB_URI=mongodb+srv://YOUR_ATLAS_USER:YOUR_ATLAS_PASSWORD@cluster0.xxxxxxxxx.mongodb.net

# ---------- UPSTASH REDIS (Serverless Redis) ----------
# Get this from your Upstash dashboard -> Redis Connect -> .env example
# Format: rediss://:YOUR_PASSWORD@YOUR_ENDPOINT.upstash.io:6379
REDIS_URL=rediss://:YOUR_UPSTASH_PASSWORD@YOUR_ENDPOINT.upstash.io:6379

# ---------- JWT ----------
JWT_SECRET=change_this_to_a_random_32_byte_hex_string

# ------------ BREVO (for sending emails) --------------
BREVO_API_KEY=INSERT_YOUR_BREVO_API_KEY

EMAIL_FROM=CHANGE_TO_THE_EMAIL_YOU_USE_TO_SENT_EMAILS_TO_USERS
